# Data Files
*.csv
*.dta

# PyCharm Files
.idea
.idea/*
*.xml
__pycache__

.DS_Store
*.DS_Store
.DS_Store*

# Latex Files
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.toc
